<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div class="account-page">
		<div class="container">
			<div class="row-account">
				<div class = "col-2">
					<img src="images/account1.jpg" width="100%">
				</div>
				<div class="col-2">
					<div class="form-container">
						<div class="form-btn">
							<span onclick="login()">Login</span>
							<span onclick="register()">Register</span>
							<hr id = "Indicator">
						</div>

						<form id="LoginForm">
							<input type="text" placeholder="Username">
							<input type="password" placeholder="Password">
							<button type="submit" class="hero-btn red-btn">Login</button>
							<a href="">Forgot password</a>
						</form>

						<form id="RegForm">
							<input type="text" placeholder="Username">
							<input type="firsname" placeholder="FirstName">
							<input type="lastname" placeholder="LastName">
							<input type="email" placeholder="Email">
							<input type="password" placeholder="Password">
							<input type="confirmpassword" placeholder="ConfirmPassword">
							<button type="submit" class="hero-btn red-btn">Register</button>

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
    <script>
		var LoginForm = document.getElementById("LoginForm");
		var RegForm = document.getElementById("RegForm");
		var Indicator = document.getElementById("Indicator");

		function register(){
			RegForm.style.transform = "translateX(0px)";
			LoginForm.style.transform = "translateX(0px)";
			Indicator.style.transform = "translateX(135px)";
		}

		function login(){
			RegForm.style.transform = "translateX(300px)";
			LoginForm.style.transform = "translateX(300px)";
			Indicator.style.transform = "translateX(10px)";
		}

	</script>
</body>
</html>